body {
    background-image: url("../images/background.jpg");
}
/* 对所有class为hd的元素隐藏 */
.hd {
    display: none; 
}
.container {
    display: flex;
    flex-flow: column nowrap;
}
.header {
    text-align: center;
}
.menu {
    /* width: 80%; */
    padding: 20px 10%;
    text-align: center;
    align-self: center;
}
.menu h2 {
    text-align: center;
    color: aliceblue;
}
.menu .game-rule {
    text-align: left;
    color: aliceblue;
}
.menu .rule-item {
    text-align: left;
    color: aliceblue;
}
.container .content {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-items: center;
    padding: auto 30px;
}
.button-cell .button-span {
    opacity: 0;
}

@media screen and (max-width: 1920px) {
    .content .button-box {
        margin: auto 10%;
    }
    .content .button-box .button-cell{
        width: 60px;
        height: 60px;
        outline: none;
    }
    .content .button-box2 .button-cell{
        width: 35px;
        height: 35px;
        background-color: aqua;
    }
    .content .button-box .span-cell{
        background-color: rgb(255, 255, 255);
        border: 0ch;
    }
    .content .button-box2 .span-cell{
        background-color: rgb(255, 255, 255);
        border: 0ch;
    }
}
@media screen and (max-width: 960px) {
    .content .button-box {
        margin: 10% auto;
    }
    .content .button-box .button-cell{
        width: 40px;
        height: 40px;
    }
    .content .button-box2 .button-cell{
        width: 30px;
        height: 30px;
        background-color: aqua;
    }
    .content .button-box .span-cell{
        background-color: rgb(255, 255, 255);
        border: 0ch;
    }
    .content .button-box2 .span-cell{
        background-color: rgb(255, 255, 255);
        border: 0ch;
    }
}
@media screen and (max-width: 640px) {
    .content .button-box .button-cell{
        width: 30px;
        height: 30px;
    }
    .content .button-box2 .button-cell{
        width: 25px;
        height: 25px;
        background-color: aqua;
    }
    .content .button-box {
        margin: 10% auto;
    }
    .content .button-box .span-cell{
        background-color: rgb(255, 255, 255);
        border: 0ch;
    }
    .content .button-box2 .span-cell{
        background-color: rgb(255, 255, 255);
        border: 0ch;
    }
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}