h1 {
    text-align: center;
    margin: auto;
    padding-top: 1em;
}
h2 {
    text-align: center;
}
div {
    border: 1px;
}
#container {
    display: block;
    margin: auto;
    height: 960px;
}
#header {
    background: aliceblue;
    height: 100px;
}
#content {
    background: beige;
    display: inline-table;
    
}
#footer {
    background: red;
    height: 150px;
    margin-top: 10px;
}
#contentLeft {
    width: 20%;
    min-height: 600px;
    background: rgb(255, 255, 255);
    display: table-cell;
    overflow: auto;
}
#contentLeft p {
    padding-left: 10px;
    padding-right: 10px;
}
#contentCenter {
    width: 40%;
    min-height: 600px;
    background: rgb(143, 142, 142);
    display: table-cell;
}
#contentRight {
    width: 40%;
    min-height: 600px;
    background: blueviolet;
    display: table-cell;
}
#mainTable {
    border: 1px;
    border-collapse: collapse;

}