* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
}
.container {
    background: bisque;
    margin: 0 auto;
    width: 80%;
}
.header {
    margin: 0 auto;
    text-align: center;
    height: 60px;
    padding-top: 20px;
}
.header h1 {
    width: 100%;
}
.content {
    height: 600px;
    padding-top: 20px;
    z-index: 1;
}
.content-left {
    float: left;
    width: 20%;
    height: 100%;
}
.content-left .content-left-box {
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    border-right: 1px solid #333;
}
.content-left h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}
.content-left p {
    font-family: 'Courier New', Courier, monospace;
    line-height: 25px;
}
.content-left .game-rule {
    border: 1px solid red;
    padding: 20px;
}
.container .content .content-center {
    height: 100%;
    background: beige;
    float: left;
    width: 40%;
}
.container .content .content-right {
    height: 100%;
    float: left;
    width: 20%;
    background: #333;
}
.content .content-center .button-box .button-cell {
    width: 30px;
    height: 30px;
    background-color: aliceblue;
}