* {
    padding: 0;
    margin: 0 auto;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../images/background2.jpg");
  }
header, footer {
    flex: 1; 
    justify-content: center;
  }
header h1{
    padding-top: 50px;
    text-align: center;
}
footer span {
    text-align: center;
}
.content {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    width: 80%;
}
.content .content-left {
    width: 20%;
    text-align: left;
    padding: 0px 10px;
    font-weight: 200;
    font-size-adjust: inherit;
}
.content-left-box {
    font-family: 'Courier New', Courier, monospace;
    line-height: 25px;
    background-color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
}
.content-left-box .game-rule {
    border: 2px;
    padding: 20px;
}
.content-left-box h2 {
    text-align: center;
    padding: 10px 0px;
}
.content .content-center {
    width: 50%;
}
.content .content-right {
    /* display: none; 暂时将右面游戏副框隐藏，副框用来显示对方点击我棋盘的位置 */
    width: 30%;
    margin-left: 2vw;
}