<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="binbinlau.plane.xo.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="binbinlau.plane.xo.entity.Message">
    <id column="uid" jdbcType="CHAR" property="uid" />
    <result column="fromuseruid" jdbcType="CHAR" property="fromuseruid" />
    <result column="fromuseroid" jdbcType="INTEGER" property="fromuseroid" />
    <result column="fromusername" jdbcType="VARCHAR" property="fromusername" />
    <result column="touseruid" jdbcType="VARCHAR" property="touseruid" />
    <result column="touseroid" jdbcType="INTEGER" property="touseroid" />
    <result column="tousername" jdbcType="VARCHAR" property="tousername" />
    <result column="useravatar" jdbcType="VARCHAR" property="useravatar" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="site" jdbcType="BIT" property="site" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="data" jdbcType="VARCHAR" property="data" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    `uid`, `fromuseruid`, `fromuseroid`, `fromusername`, `touseruid`, `touseroid`, `tousername`, 
    `useravatar`, `title`, `content`, `href`, `state`, `type`, `site`, `sn`, `data`, 
    `status`, `createtime`, `updatetime`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `message`
    where `uid` = #{uid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from `message`
    where `uid` = #{uid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="binbinlau.plane.xo.entity.Message">
    insert into `message` (`uid`, `fromuseruid`, `fromuseroid`, 
      `fromusername`, `touseruid`, `touseroid`, 
      `tousername`, `useravatar`, `title`, 
      `content`, `href`, `state`, `type`, 
      `site`, `sn`, `data`, `status`, 
      `createtime`, `updatetime`)
    values (#{uid,jdbcType=CHAR}, #{fromuseruid,jdbcType=CHAR}, #{fromuseroid,jdbcType=INTEGER}, 
      #{fromusername,jdbcType=VARCHAR}, #{touseruid,jdbcType=VARCHAR}, #{touseroid,jdbcType=INTEGER}, 
      #{tousername,jdbcType=VARCHAR}, #{useravatar,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{href,jdbcType=VARCHAR}, #{state,jdbcType=BIT}, #{type,jdbcType=BIT}, 
      #{site,jdbcType=BIT}, #{sn,jdbcType=VARCHAR}, #{data,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="binbinlau.plane.xo.entity.Message">
    insert into `message`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="fromuseruid != null">
        `fromuseruid`,
      </if>
      <if test="fromuseroid != null">
        `fromuseroid`,
      </if>
      <if test="fromusername != null">
        `fromusername`,
      </if>
      <if test="touseruid != null">
        `touseruid`,
      </if>
      <if test="touseroid != null">
        `touseroid`,
      </if>
      <if test="tousername != null">
        `tousername`,
      </if>
      <if test="useravatar != null">
        `useravatar`,
      </if>
      <if test="title != null">
        `title`,
      </if>
      <if test="content != null">
        `content`,
      </if>
      <if test="href != null">
        `href`,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="site != null">
        `site`,
      </if>
      <if test="sn != null">
        `sn`,
      </if>
      <if test="data != null">
        `data`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createtime != null">
        `createtime`,
      </if>
      <if test="updatetime != null">
        `updatetime`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=CHAR},
      </if>
      <if test="fromuseruid != null">
        #{fromuseruid,jdbcType=CHAR},
      </if>
      <if test="fromuseroid != null">
        #{fromuseroid,jdbcType=INTEGER},
      </if>
      <if test="fromusername != null">
        #{fromusername,jdbcType=VARCHAR},
      </if>
      <if test="touseruid != null">
        #{touseruid,jdbcType=VARCHAR},
      </if>
      <if test="touseroid != null">
        #{touseroid,jdbcType=INTEGER},
      </if>
      <if test="tousername != null">
        #{tousername,jdbcType=VARCHAR},
      </if>
      <if test="useravatar != null">
        #{useravatar,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="href != null">
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=BIT},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIT},
      </if>
      <if test="site != null">
        #{site,jdbcType=BIT},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        #{data,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="binbinlau.plane.xo.entity.Message">
    update `message`
    <set>
      <if test="fromuseruid != null">
        `fromuseruid` = #{fromuseruid,jdbcType=CHAR},
      </if>
      <if test="fromuseroid != null">
        `fromuseroid` = #{fromuseroid,jdbcType=INTEGER},
      </if>
      <if test="fromusername != null">
        `fromusername` = #{fromusername,jdbcType=VARCHAR},
      </if>
      <if test="touseruid != null">
        `touseruid` = #{touseruid,jdbcType=VARCHAR},
      </if>
      <if test="touseroid != null">
        `touseroid` = #{touseroid,jdbcType=INTEGER},
      </if>
      <if test="tousername != null">
        `tousername` = #{tousername,jdbcType=VARCHAR},
      </if>
      <if test="useravatar != null">
        `useravatar` = #{useravatar,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        `title` = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        `content` = #{content,jdbcType=VARCHAR},
      </if>
      <if test="href != null">
        `href` = #{href,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=BIT},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=BIT},
      </if>
      <if test="site != null">
        `site` = #{site,jdbcType=BIT},
      </if>
      <if test="sn != null">
        `sn` = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        `data` = #{data,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        `createtime` = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        `updatetime` = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `uid` = #{uid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="binbinlau.plane.xo.entity.Message">
    update `message`
    set `fromuseruid` = #{fromuseruid,jdbcType=CHAR},
      `fromuseroid` = #{fromuseroid,jdbcType=INTEGER},
      `fromusername` = #{fromusername,jdbcType=VARCHAR},
      `touseruid` = #{touseruid,jdbcType=VARCHAR},
      `touseroid` = #{touseroid,jdbcType=INTEGER},
      `tousername` = #{tousername,jdbcType=VARCHAR},
      `useravatar` = #{useravatar,jdbcType=VARCHAR},
      `title` = #{title,jdbcType=VARCHAR},
      `content` = #{content,jdbcType=VARCHAR},
      `href` = #{href,jdbcType=VARCHAR},
      `state` = #{state,jdbcType=BIT},
      `type` = #{type,jdbcType=BIT},
      `site` = #{site,jdbcType=BIT},
      `sn` = #{sn,jdbcType=VARCHAR},
      `data` = #{data,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      `createtime` = #{createtime,jdbcType=TIMESTAMP},
      `updatetime` = #{updatetime,jdbcType=TIMESTAMP}
    where `uid` = #{uid,jdbcType=CHAR}
  </update>
</mapper>